$color_background: #fff;
$color_text_main: #333;
$color_lt_gray: #eeeeee;
// not using variables yet

@import "normalize";


*,
*::after,
*::before {
	box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
	content: '';
	display: table;
}

.clearfix::after {
	clear: both;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #515158;
	background: #f4f4f4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #aaa;
	outline: none;

	&:focus,
	&:hover {
		outline: none;
	}

	&:hover {
		color: #515158;
	}
}

button:hover {
	color: #515158;
	outline: none;
}

button:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1em;
	height: 1em;
	margin: 0 auto;
	fill: currentColor;
}

.container {
	position: relative;
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
}

/* Header */

.library-header {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	padding: 1.5em 1.2em;

	h1 {
		font-size: 1.5em;
		font-weight: normal;
		line-height: 1;
		margin: 0 0 0.5em;
	}


	ul {
		list-style-type: none;
		margin: 0 .1em;
		padding: 0;

		li {
			display: inline-block;
			color: #aaa;
			margin: 0;
			padding: 0;

			& + li:before {
				content: '\2022';
				display: inline-block;
				padding: 0 14px 0 10px;
			}
		}

		a {
			text-transform: uppercase;

			&.current-library {
				color: #515158;
			}
		}
	}
}


.legend {
	position: absolute;
	z-index: 100;
	bottom: 0;
	left: 0;
	padding: 1.5em 1.2em;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		font-size: 0.8em;
		line-height: 20px;

		span {
			font-size: 2.6em;
			line-height: 1em;
			position: relative;
			top: 4px;
			margin-right: 5px;
		}
	}
}





.main {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: calc(100vw - 300px);
	height: 100vh;
}

.building {
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: none;
	perspective: 3500px;
	perspective-origin: 0% 50%;
	transition: transform 0.8s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.building.building--content-open {
	transform: translate3d(0,-25%,0) scale3d(0.8,0.8,1);
}

.surroundings,
.levels {
	position: absolute;
	top: 50%;
	left: 50%;
}


.surroundings {
	/* double of building map */
	width: 192vmin;
	height: 128vmin;
	margin: -64vmin 0 0 -96vmin;
	pointer-events: none;
	transition: opacity 0.8s;
	transform-style: preserve-3d;
}

.surroundings__map {
	opacity: 0.3;
	width: 100%;
	max-width: 100%;
	display: block;
}

.surroundings--hidden {
	opacity: 0;
}

.levels {
	width: 96vmin;
	height: 64vmin;
	margin: -32vmin 0 0 -48vmin;
	transition: transform 0.3s;
	transform-style: preserve-3d;
}

.surroundings,
.levels {
	// rotation of all levels and background
	transform: rotateX(70deg) rotateZ(-45deg) translateZ(-15vmin);
}


/* Current level */

.level.level--current {
	/* go to center */
	// rotation and centering of current level
	transform: translateZ(15vmin) rotate3d(0,0,1,20deg);
}

.level {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	pointer-events: auto;
	transition: opacity 1s, transform 1s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transform-style: preserve-3d;
}

.level::after {
    font-size: 3.2vmin;
    line-height: 0;
    position: absolute;
    z-index: 100;
    top: -1em;
    left: 7em;
	white-space: nowrap;
	color: #7d7d86;
	// rotation of floor level numbers
	transform: rotateZ(45deg) rotateX(-70deg) translateZ(5vmin);
	transition: transform 1s, color 0.3s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);


	// border: 1px solid #bbb;

	// color: #fff;
	// background: #bbb;
	// border-radius: 5px;
 //    text-align: center;

 //    font-size: 1.4em;
 //    line-height: 1.8;
 //    width: 1.8em;
 //    height: 1.8em;

 //    top: -3.8em;
 //    left: 2.8em;
}

.level:hover::after,
.level--current::after {
	color: #515158;
	// border-color: #a6a3a8;
	// color: #fff;
	// // background: #bdbdbd;
	// background: #a6a3a8;
}

.level--current::after {
	transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg) translateZ(5vmin) translateX(5vmin) translateY(-10vmin);
}

// level labels
.level--1::after {
	content: 'G';
}

.level--2::after {
	content: '1';
}

.level--3::after {
	content: '2';
}

.level--4::after {
	content: '3';
}

.level:not(:first-child) {
	position: absolute;
	top: 0;
	left: 0;
}


// .level--1 {
// 	border: 1px solid green;
// }

.level--2 {
	transform: translateZ(10vmin);

	// border: 1px solid red;
	// opacity: 0.2;
	// display: none;
}

.level--3 {
	transform: translateZ(20vmin);

	// border: 1px solid orange;
	// opacity: 0;
	// display: none;
}

.level--4 {
	transform: translateZ(30vmin);

	// border: 1px solid green;
	// opacity: 0;
	// display: none;
}


/* Selection transitions */

.levels--selected-1 .level:not(.level--1),
.levels--selected-2 .level:not(.level--2),
.levels--selected-3 .level:not(.level--3),
.levels--selected-4 .level:not(.level--4) {
	opacity: 0;
	/* fade out all others */
}

/* Other levels */

.level--current ~ .level {
	transform: translateZ(90vmin);
}

.levels--selected-2 .level--1,
.levels--selected-3 .level--1,
.levels--selected-4 .level--1,
.levels--selected-3 .level--2,
.levels--selected-4 .level--2,
.levels--selected-4 .level--3 {
	transform: translateZ(-60vmin);
}

/* Delays */
/* 1 */

.levels--selected-1 .level--3,
.levels--selected-2 .level--3,
.levels--selected-3 .level--2,
.levels--selected-4 .level--2 {
	transition-delay: 0.1s;
}

.levels--selected-1 .level--2,
.levels--selected-2 .level--current,
.levels--selected-2 .level--current::after,
.levels--selected-3 .level--current,
.levels--selected-3 .level--current::after,
.levels--selected-4 .level--3 {
	transition-delay: 0.25s;
}

.levels--selected-1 .level--current,
.levels--selected-1 .level--current::after,
.levels--selected-4 .level--current,
.levels--selected-4 .level--current::after {
	transition-delay: 0.45s;
}


/* Navigation classes */
.levels--open .level,
.levels--open .level::after {
	transition: transform 1s, opacity 1s;
	transition-delay: 0s;
}

.levels--open .level.level--current {
	opacity: 1;
}

.levels--open .level.level--moveOutUp,
.levels--open .level.level--moveOutDown {
	opacity: 0;
}

.levels--open .level.level--moveOutUp {
	transform: translateZ(90vmin);
}

.levels--open .level.level--moveOutDown {
	transform: translateZ(-60vmin);
}


/* Level nav */
.buildingnav {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	transition: opacity 0.8s;
}

.buildingnav--hidden {
	pointer-events: none;
	opacity: 0;
}

/* Box button */
.boxbutton {
	font-size: 2em;
	display: block;
	width: 2em;
	height: 2em;
	margin: 0;
	padding: 0;
	color: #fff;
	border: 0;
	background: #d7d7dc;
}

.boxbutton--dark {
	background: #c4c4c7;
}

.boxbutton--darker {
	background: #2c2c2f;
}

.boxbutton--alt {
	background: #3d1975;
}

.boxbutton--disabled,
.boxbutton--disabled:focus,
.boxbutton--disabled:hover {
	cursor: default;
	pointer-events: none;
	opacity: 0.2;
}

/* Level map */

.map__ground {
	fill: #d7d7dc;
}

.map__outline {
	transition: fill 0.3s;
	fill: #bbb;
}

.level:hover .map__outline,
.level--current .map__outline {
	fill: #a6a3a8;
}


.map__tree {
	/*fill: #7bad7f;*/
	fill: #A4A4A4;
}

.map__lake {
	/*fill: #a2bbdd;*/
	fill: #bdbdbd;
}

.map__steps {
	/*fill: #a2bbdd;*/
	fill: #efefef;
}

.map__space {
	transition: fill-opacity 0.8s;
	fill: #bdbdbd;
	fill-opacity: 0.6;
}

.level--current .map__space {
	fill-opacity: 1;
}

 .map__space--selected {
 	fill: #A4A4A4;
 }

/* Content */
.content {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 50%;
}

.content__item {
	position: absolute;
	z-index: 100;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 3em;
	text-align: center;
	background: #d7d7dc;
	transition: transform 0.8s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.content--open .content__item {
	transition: none;
}

.content__item--current {
	transform: translate3d(0,-100%,0);
}

.content__item-title {
	font-size: 1.85em;
	margin: 0;
	padding: 0 0 0.75em 0;
	pointer-events: none;
	font-weight: normal;
	opacity: 0;
	transform: translate3d(0,-3em,0) translate3d(0,-100%,0);
}

.content__item[data-category='1'] .content__item-title,
.category1 {
	color: #7cbf7f;
}

.content__item[data-category='2'] .content__item-title,
.category2 {
	color: #6584c7;
}

.content__item[data-category='3'] .content__item-title,
.category3 {
	color: #dc4b7c;
}

.content__item[data-category='4'] .content__item-title,
.category4 {
	color: #8d65e0;
}

.content__item--hover .content__item-title {
	opacity: 1;
	transition: opacity 0.3s;
}

.content__item--current .content__item-title {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.content__item-details {
	opacity: 0;
	margin: 0 auto;
	max-width: 50vmax;
}

.content__item--current .content__item-details {
	opacity: 1;
}

.content__meta {
	margin: 0;
	font-size: 0.85em;
	line-height: 1.5;
}

.content__meta-item {
	display: inline-block;
	padding: 0 0.25em;
	// color: red;
}

.content__meta .icon {
	display: inline-block;
	vertical-align: middle;
}

.content__desc {
	text-align: left;
	margin: 7vmin 0 0 0;
}

.content__desc img {
	width: 150px;
	float: left;
	margin: 0 1em 1em 0;
}

.content__button {
	position: absolute;
	z-index: 200;
	top: -100%;
	right: 0;
	transition: opacity 0.3s 0.7s;
}

.content__button--hidden {
	pointer-events: none;
	opacity: 0;
	transition: none;
}

/* Spaces list (sidebar) */

.spaces-list {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	min-height: 100vh;
	padding: 5em 0 1em;
	background: #fff;
}

.search {
	/*position: fixed;*/
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	/*left: calc(100vw - 300px);*/
	left: 0;
}

.search__input {
	width: 100%;
	padding: 1.315em 2em;
	color: #fff;
	border: 0;
	background: #515158;
	border-radius: 0;
	height: 4em;
}

.search__input:focus {
	outline: none;
}

.label {
	position: absolute;
	top: 4em;
	right: 0;
}

.label__text {
	font-size: 0.85em;
	line-height: 1;
	display: block;
	padding: 1em;
	color: #e4e4e4;
}

.label__checkbox {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}

.label__checkbox:checked + .label__text {
	color: #515158;
}

.list {
	margin: 0 0 2em;
	padding: 0 1em 1em 2em;
	list-style: none;
}

.list__item {
	font-size: 1.05em;
	line-height: 1;
	position: relative;
	display: block;
}

.list__item:first-child {
	margin-top: 2em;
}

.grouped-by-category [data-category='1']:first-child,
.grouped-by-category :not([data-category='1']) + [data-category='1'],
.grouped-by-category [data-category='2']:first-child,
.grouped-by-category :not([data-category='2']) + [data-category='2'],
.grouped-by-category [data-category='3']:first-child,
.grouped-by-category :not([data-category='3']) + [data-category='3'],
.grouped-by-category [data-category='4']:first-child,
.grouped-by-category :not([data-category='4']) + [data-category='4'] {
	margin-top: 4em;
}

.grouped-by-category [data-category='1']:first-child::before,
.grouped-by-category :not([data-category='1']) + [data-category='1']::before,
.grouped-by-category [data-category='2']:first-child::before,
.grouped-by-category :not([data-category='2']) + [data-category='2']::before,
.grouped-by-category [data-category='3']:first-child::before,
.grouped-by-category :not([data-category='3']) + [data-category='3']::before,
.grouped-by-category [data-category='4']:first-child::before,
.grouped-by-category :not([data-category='4']) + [data-category='4']::before {
	font-size: 1.25em;
	position: absolute;
	top: -1.75em;
	left: 0;
	color: #c7c7c9;
}

.grouped-by-category [data-category='1']:first-child::before,
.grouped-by-category :not([data-category='1']) + [data-category='1']::before {
	content: 'Staff Directory';
	color: #7cbf7f;
}

.grouped-by-category [data-category='2']:first-child::before,
.grouped-by-category :not([data-category='2']) + [data-category='2']::before {
	content: 'Classrooms';
	color: #6584c7;
}

.grouped-by-category [data-category='3']:first-child::before,
.grouped-by-category :not([data-category='3']) + [data-category='3']::before {
	content: 'Labs & Study Areas';
	color: #dc4b7c;
}

.grouped-by-category [data-category='4']:first-child::before,
.grouped-by-category :not([data-category='4']) + [data-category='4']::before {
	content: 'Resources';
	color: #8d65e0;
}

.list__item::after {
	content: 'L' attr(data-level) ' / ' attr(data-space);
	font-size: 0.65em;
	line-height: 3;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 0.5em;
	pointer-events: none;
	color: #c7c7c9;
}

.list__link {
	font-size: 0.85em;
	display: block;
	padding: 0.5em 0.5em 0.5em 0;
}

.list__item--active .list__link,
.list__link:hover {
	color: #515158;
}
























/* Pins */
.level__pins {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transform-style: preserve-3d;
}

.level__pins--active {
	pointer-events: auto;
}

.pin {
	position: absolute;
	width: 5.5vmin;
	height: 8.25vmin;
	margin: -8.25vmin 0 0 -2.25vmin; /* let the bottom tip be the reference point for individual coordinates */
	// rotation of pins
	transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg);
	transform-origin: 50% 100%;
	transform-style: preserve-3d;
}

.pin__icon {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translate3d(0,-100px,0);
	transition: opacity 0.3s, transform 0.3s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.level__pins--active .pin__icon {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.pin:nth-child(2) .pin__icon {
	transition-delay: 0.05s;
}
.pin:nth-child(3) .pin__icon {
	transition-delay: 0.1s;
}
.pin:nth-child(4) .pin__icon {
	transition-delay: 0.15s;
}
.pin:nth-child(5) .pin__icon {
	transition-delay: 0.2s;
}
.pin:nth-child(6) .pin__icon {
	transition-delay: 0.25s;
}
.pin:nth-child(7) .pin__icon {
	transition-delay: 0.3s;
}
.pin:nth-child(8) .pin__icon {
	transition-delay: 0.35s;
}
.pin:nth-child(9) .pin__icon {
	transition-delay: 0.4s;
}

.pin[data-category='1'] .icon--pin {
	fill: #7cbf7f;
}
.pin[data-category='2'] .icon--pin {
	fill: #6584c7;
}
.pin[data-category='3'] .icon--pin {
	fill: #dc4b7c;
}
.pin[data-category='4'] .icon--pin {
	fill: #8d65e0;
}

.pin--active .icon--pin {
	stroke: #515158;
	stroke-width: 15px;
}

.icon--pin {
	width: 100%;
	height: 100%;
}

.icon--logo {
	position: absolute;
	top: 11%;
	left: 25%;
	width: 50%;
	height: 50%;
	fill: white;
	fill-opacity: 0.6;
	transition: fill-opacity 0.3s;

	// hide icons for now
	opacity: 0;
}

.pin--active .icon--logo,
.pin:hover .icon--logo {
	fill-opacity: 1;
}





























/* Pins for floor 1 */
.pin--1-1 { top: 4vmin; left: 65vmin; }
.pin--1-2 { top: 9vmin; left: 66vmin; }
.pin--1-3 { top: 3vmin; left: 60vmin; }
.pin--1-4 { top: 14vmin; left: 67vmin; }
.pin--1-5 { top: 4vmin; left: 40vmin; }
.pin--1-6 { top: 6vmin; left: 45vmin; }
.pin--1-7 { top: 36vmin; left: 61vmin; }
.pin--1-8 { top: 56vmin; left: 78vmin; }
.pin--1-9 { top: 51vmin; left: 41vmin; }

/* Pins for floor 2 */
.pin--2-1 { top: 10vmin; left: 28vmin; }
.pin--2-2 { top: 43vmin; left: 17vmin; }
.pin--2-3 { top: 31vmin; left: 78vmin; }
.pin--2-4 { top: 36vmin; left: 57vmin; }
.pin--2-5 { top: 19vmin; left: 29vmin; }
.pin--2-6 { top: 39vmin; left: 29vmin; }
.pin--2-7 { top: 39vmin; left: 36vmin; }
.pin--2-8 { top: 57vmin; left: 78vmin; }
.pin--2-9 { top: 24vmin; left: 33vmin; }

/* Pins for floor 3 */
.pin--3-2 { top: 45vmin; left: 14vmin; }
.pin--3-3 { top: 20vmin; left: 54vmin; }
.pin--3-4 { top: 19vmin; left: 41vmin; }
.pin--3-5 { top: 45vmin; left: 81vmin; }
.pin--3-6 { top: 11vmin; left: 39vmin; }
.pin--3-7 { top: 36vmin; left: 38vmin; }

/* Pins for floor 4 */
.pin--4-1 { top: 22vmin; left: 46vmin; }
.pin--4-2 { top: 23vmin; left: 52vmin; }
.pin--4-3 { top: 21vmin; left: 40vmin; }
.pin--4-4 { top: 18vmin; left: 32vmin; }
.pin--4-5 { top: 36vmin; left: 56vmin; }
.pin--4-6 { top: 24vmin; left: 33vmin; }
.pin--4-7 { top: 45vmin; left: 33vmin; }

/* Mobile compatability */
.open-search,
.close-search {
	display: none;
}


/*@media screen and (max-width: 1200px) {
	.levels {
		margin: -34vmin 0 0 -34vmin;
	}

	.level {
		position: relative;
		width: 80%;
		height: 80%;
		cursor: pointer;
	}
}*/


















@media screen and (max-width: 1023px), screen and (max-height: 767px) {
	.main {
		width: 100vw;
	}
	.spaces-list,
	.search {
		// width: 100vw;
		width: 300px;
		right: -100%;
		left: auto;
		transition: .4s ease-in-out;
	}
	.spaces-list--open,
	.spaces-list--open .search {
		right: 0;
	}
	.open-search,
	.close-search {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		z-index: 1000;
	}
	.buildingnav {
		top: 4em;
	}
	.container {
		overflow: hidden;
	}
	.container--overflow {
		overflow-y: auto;
	}
	.content__item {
		overflow: auto;
	}
	.library-header {
		padding-right: 4em;
		text-align: left;
	}
	.library-header p {
		display: none;
	}
	.legend {
		bottom: 3em;
	}
}

@media screen and (max-width: 679px) {
	.legend {
		display: none;
	}
}